@charset "UTF-8";
* {
  position: relative;
  font-family: "Hind Vadodara", "微軟正黑體";
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daybox {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 25px 60px -10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  transition-duration: 2s;
  cursor: pointer;
}

.daybox:hover .dayweather {
  /* opacity: 1; */
  top: 0px;
}

.top {
  background: linear-gradient(20deg, #19283D 0%, #1D678F 95%);
  background-size: 100% 300%;
  height: 87%;
  -webkit-animation: daylight 5s linear both;
          animation: daylight 5s linear both;
  transition-duration: 0.5s;
}
.top .text_area {
  color: #f3f3f3;
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%)translateY(-50%);
}
.top .text_area .temperature {
  display: block;
  font-size: 60px;
  margin-bottom: 1px;
  font-weight: 100;
  transition-duration: 0.5s;
}
.top .text_area .infos {
  margin-top: -10px;
  display: block;
  letter-spacing: 1px;
  font-size: 14px;
  opacity: 0.7;
  transition-duration: 0.5s;
}

@-webkit-keyframes daylight {
  0% {
    background-position: 100% 30%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 30%;
  }
}

@keyframes daylight {
  0% {
    background-position: 100% 30%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 30%;
  }
}
.bottom {
  height: 100px;
  background-color: #f3f3f3;
  transition-duration: 1s;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.dayweather {
  padding: 2px;
  /* margin-top: 10px; */
  width: calc(100% / 7 - 5px);
  box-sizing: border-box;
  text-align: center;
  /* opacity: 0; */
  top: 10px;
  transition: 0.5s;
}
.dayweather svg {
  width: 100%;
  max-width: 30px;
}
.dayweather svg .sun {
  fill: #FFD633;
  stroke-width: 30px;
  stroke: rgba(255, 214, 51, 0.5);
  stroke-dasharray: 5px;
}
.dayweather svg .rain {
  stroke: #4DACFF;
  stroke-width: 5px;
}
.dayweather svg .cloud {
  fill: #ccc;
}
.dayweather h3 {
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
}

.dayweather:nth-child(1) {
  transition-delay: 0.2s;
}

.dayweather:nth-child(2) {
  transition-delay: 0.3s;
}

.dayweather:nth-child(3) {
  transition-delay: 0.4s;
}

.dayweather:nth-child(4) {
  transition-delay: 0.5s;
}

.dayweather:nth-child(5) {
  transition-delay: 0.6s;
}

.dayweather:nth-child(6) {
  transition-delay: 0.7s;
}

.dayweather:nth-child(7) {
  transition-delay: 0.8s;
}

.moon {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 5%;
  top: 35%;
  -webkit-transform: translateX(-12px) translateY(-12px);
          transform: translateX(-12px) translateY(-12px);
  border-radius: 100%;
  box-shadow: 12px 12px 0 0 #FFD633;
  -webkit-animation: moon 120s both;
          animation: moon 120s both;
  transition-duration: 0.5s;
  opacity: .9;
}

@-webkit-keyframes moon {
  0% {
    -webkit-transform: translateX(-150px) translateY(150px);
            transform: translateX(-150px) translateY(150px);
    box-shadow: 150px -150px 0 0 #FFD633;
  }
  100% {
    -webkit-transform: translateX(500px) translateY(-500px);
            transform: translateX(500px) translateY(-500px);
    box-shadow: -500px 500px 0 0 #FFD633;
  }
}

@keyframes moon {
  0% {
    -webkit-transform: translateX(-150px) translateY(150px);
            transform: translateX(-150px) translateY(150px);
    box-shadow: 150px -150px 0 0 #FFD633;
  }
  100% {
    -webkit-transform: translateX(500px) translateY(-500px);
            transform: translateX(500px) translateY(-500px);
    box-shadow: -500px 500px 0 0 #FFD633;
  }
}
.cloud {
  width: 250px;
  height: 79px;
  background-color: #f2f9fe;
  border-radius: 52px;
  position: absolute;
  left: 60%;
  bottom: 30%;
  z-index: 50;
  -webkit-animation: floating 7s infinite;
          animation: floating 7s infinite;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}
.cloud::before, .cloud::after {
  content: "";
  display: block;
  position: absolute;
  width: 109px;
  height: 105px;
  top: -72px;
  left: 29px;
  background-color: #f2f9fe;
  border-radius: 65px;
  z-index: 1;
}
.cloud::after {
  top: -51px;
  left: 103px;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.rain {
  width: 3px;
  height: 20px;
  border-radius: 3px;
  background-color: #f3f3f3;
  -webkit-animation: rain 1s infinite linear;
  animation: rain 1s infinite linear;
  left: 67px;
  bottom: -62px;
  transition-duration: 0.5s;
}

.rain2 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
  left: 104px;
  bottom: -40px;
}

.rain3 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
  left: 160px;
  bottom: -27px;
}

@-webkit-keyframes rain {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
  }
}

@keyframes rain {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
  }
}

.icon{
  position: absolute;
  left: 20px;
  top: 30px;
}
.iconline{
  width: 35px;
  border: 1px solid white;
}

.line2{
  top: 8px;
}

.line3{
  top: 16px;
}

.temsvg {
  width: 100%;
  top: 70%;
  transition-duration: 0.5s;
}
.temsvg circle {
  fill: white;
  opacity: 0.05;
  transition: 0.5s 0s;
}
.temsvg polyline {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  opacity: 0.05;
  transition: 0.5s 0.2s;
}
.temsvg text {
  fill: #f3f3f3;
  opacity: 0;
  transition: 0.5s 0.5s;
  -webkit-transform: translateX(-8px) translateY(25px);
          transform: translateX(-8px) translateY(25px);
  font-size: 12px;
}

label {
  cursor: pointer;
}

#switch_night {
  display: none;
}

#switch_night:checked + .top {
  background-color: #f3f3f3;
}
#switch_night:checked + .top .temsvg text, #switch_night:checked + .top .temsvg circle {
  opacity: 0.9;
}
#switch_night:checked + .top .temsvg polyline {
  opacity: 0.7;
}
#switch_night:checked + .top .temsvg text {
  -webkit-transform: translateX(-8px) translateY(20px);
          transform: translateX(-8px) translateY(20px);
}
#switch_night:checked + .top .cloud {
  opacity: 0.1;
}
#switch_night:checked + .top .moon {
  opacity: 0.1;
}