<ul
    class="nav nav-pills nav-sidebar flex-column menu-open"
    data-widget="treeview"
    role="menu"
    data-accordion="false"
>
    <li class="nav-item has-treeview" v-for="(item, index) in items">
        <a href="#" class="nav-link" v-on:click="ontoggle">
            <i v-bind:class="['fas',item.isFile ? 'fa-robot' : 'fa-folder']"></i>
            <p>{{item.name}}</p>
            <i v-show="!item.isFile" class="right fas fa-angle-left"></i>
        </a>
        <div>
        </div>
        <div
            v-show="!item.isFile"
            class="nav nav-pills nav-treeview nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
        >
        </div>
    </li>
</ul>